.productRegist {
    background-color: wheat;
    border-radius: 18px;
    box-shadow: 0px 4px 4px #00000040;
    position: relative;
    height: auto; /* 높이를 auto로 변경하여 내용에 따라 조정 */
    width: calc(100% - 200px); /* header와 동일하게 수정 */
    margin-left: 150px; /* 사이드바 너비 + 여유 공간 */
    margin-top: 15px; /* header와의 간격 */
}


.header {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    align-items: center;
    flex-direction: column; /* 세로 방향으로 정렬 */
    height:60px;
    margin-top:10px;
}

.title {
    font-size: 40px;
    font-weight: bold;
}


.productContent {
    display: flex;
    gap: 20px; /* 이미지와 정보 간격 */
    flex-direction: row;
}


.productImage {
    width: 530px;
    height: 430px; /* 비율 유지 */
    border-radius: 10px; /* 모서리 둥글게 */
    margin-left: 70px;
}

.productInfoContainer {
    flex: 1;
    display: flex;
    flex-direction: column; 
    position: relative;
    left:100px;
}

.productName {
    font-size: 20px;
    font-weight: bold;
    width:550px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #D9D9D9; /* 버튼 색상 */
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.price {
    font-size: 20px;
    font-weight: bold;
    width:550px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #D9D9D9; /* 버튼 색상 */
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.category {
    font-size: 20px;
    font-weight: bold;
    width:570px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #D9D9D9; /* 버튼 색상 */
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


.description {
    font-size: 20px;
    font-weight: bold;
    width:550px;
    height:300px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #D9D9D9; /* 버튼 색상 */
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.registButton {
    margin-left: 10px;
    width:550px;
    height:45px;
    padding: 10px;
    background-color: #697565; /* 버튼 색상 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.chatButton:hover {
    background-color: #45a049;
}

.simpleIcon{
    height: 70px;
    position: relative;
    top:185px;
    width: 70px;
}

.imageContainer{
    justify-content: center; /* 가운데 정렬 */  
    display: flex;
    background-color: #D9D9D9;
    height: 448px;
    left:50px;
    position:relative;
    top:0; 
    width: 570px; 
    background-size: cover; /* 배경 이미지를 컨테이너에 맞게 조정 */
    background-position: center; /* 배경 이미지 중앙 정렬 */
}


.textWrapper{
    color:#000000;
    font-family: "BM HANNA_TTF-Regular",Helevtica;
    font-size: 20px;
    font-weight: 400;
    left: 137px;
    letter-spacing: 0;
    line-height: normal;
    position:absolute;
    top:279px;
    white-space: nowrap;
}


