.overlapGroup{
    background-color: #ffffff;
    border-radius: 18px;
    box-shadow: 0px 4px 4px #00000040;
    height:250px;
    position: relative;
    width:1300px;
    display: flex; /* Flexbox로 설정 */
    align-items: center; /* 수직 중앙 정렬 */
}

.HSU{
    color: #3c3d37;
    font-family: "Changa One-Regular", Helvetica;
    font-size:310px;
    font-weight:200;
    height:380px;
    left:30px;
    letter-spacing: 0;
    line-height:normal;
    position: relative;
    top: 15px;
    white-space:nowrap;
    width: 643px;
}

.textWrapper{
    color: #3c3d37;
    font-family: "Changa One-Regular", Helvetica;
    font-size: 180px;
    font-weight: 400;
    height: 100px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width:588px;
    left:50px;
}