.content {
    background-color: blue;
    height: auto; /* 높이를 auto로 변경하여 내용에 따라 조정 */
    position: relative; /* 변경: top 속성 제거 */
    width: calc(100% - 200px); /* header와 동일하게 수정 */
    margin-left: 150px; /* 사이드바 너비 + 여유 공간 */
    margin-top: 40px; /* header와의 간격 */
}


.textWrapper{
    color : black;
    font-family: "Poppins-SemiBold",Helvetica;
    font-size:26px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    margin-top:20px;
}
